<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nobile.fonte_viva" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Fonte Viva</name>
    <description>
        Aplicativo de transmissão de streaming.
    </description>
    <author email="alexsandro@nobile.com" href="http://phonegap.com">
        Nóbile Designer
    </author>
    <preference name="phonegap-version" value="cli-6.3.0" />
    <preference name="orientation" value="portrait" />
	<platform name="android">
	<icon src="file://C:\Users\Alexsandro\Desktop\Meus Apps\Repositorios\Radio\www\img\36.png" qualifier="ldpi" />
	<icon src="file://C:\Users\Alexsandro\Desktop\Meus Apps\Repositorios\Radio\www\img\48.png" qualifier="mdpi" />
	<icon src="file://C:\Users\Alexsandro\Desktop\Meus Apps\Repositorios\Radio\www\img\72.png" qualifier="hdpi" />
	<icon src="file://C:\Users\Alexsandro\Desktop\Meus Apps\Repositorios\Radio\www\img\96.png" qualifier="xhdpi" />
	<icon src="file://C:\Users\Alexsandro\Desktop\Meus Apps\Repositorios\Radio\www\img\144.png" qualifier="xxhdpi" />
	<icon src="file://C:\Users\Alexsandro\Desktop\Meus Apps\Repositorios\Radio\www\img\192.png" qualifier="xxxhdpi" />
	</platform>
	<content src="index.html" />
    <access origin="http://95.154.254.129:12882/;.mp3" subdomains="false" />
	<access origin="http://50.22.218.197:36526/;.mp3" subdomains="false" />
	<access origin="http://78.129.190.50:26339/;.mp3" subdomains="false" />
</widget>
