<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nobile.fonte_viva" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Fonte Viva</name>
    <description>
        Aplicativo de transmissão de streaming.
    </description>
    <author email="alexsandro@nobile.com" href="http://phonegap.com">
        Nóbile Designer
    </author>
    <preference name="phonegap-version" value="cli-6.3.0" />
    <preference name="orientation" value="portrait" />
    <content src="index.html" />
    <access origin="*"/>
	<platform name="android">
	<icon src="/img/36.png" qualifier="ldpi" />
	<icon src="img/48.png" qualifier="mdpi" />
	<icon src="img/72.png" qualifier="hdpi" />
	<icon src="img/96.png" qualifier="xhdpi" />
	<icon src="img/144.png" qualifier="xxhdpi" />
	<icon src="img/192.png" qualifier="xxxhdpi" />
	</platform>
	
</widget>
